<ul class="nav nav-pills nav-justified mb-4">
  <li class="nav-item border border-secondary">
    <button
      class="nav-link"
      routerLink="/description"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Descripción
    </button>
  </li>
  <li class="nav-item border border-secondary">
    <button
      class="nav-link"
      routerLink="/news"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Noticias
    </button>
  </li>
  <li class="nav-item border border-secondary">
    <button
      class="nav-link"
      routerLink="/currency"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Moneda
    </button>
  </li>
  <li class="nav-item border border-secondary">
    <button
      class="nav-link"
      routerLink="/weather"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Clima
    </button>
  </li>
</ul>
