
.nav{
  font-size: clamp(10px, 1vw, 14px);
}

.nav-link{
  border-radius: 0px !important;
  font-weight: 600;

  .nav-link.active:hover{
    background-color: aqua;
  }
}

button:hover{
  background-color: rgb(0, 77, 148);
  color: white;
}
