.exchange-value-text{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.exchange-info-text{
  display: flex;
  justify-content: center;
  color: #9b9b9b;
}

.exchange-row{
  border: 1px solid rgb(75, 75, 75);
}
