
@media (max-width: 991.98px) {
  .row-container{
    // height: calc(0.5vw + 39vh);
    // max-height: 40vh;
    height: 100%;
  }
}

@media (min-width: 992px) {

  .row-container{
    height: 500px;
  }
}

.box-news{
  overflow-x: hidden;
    height: 100%;
    padding: 8px;
}

.cards-container{
  font-size: 12px;
  padding: 0px 5px;
}
