<ng-container
  *ngIf="{ news: news$ | async, loading: loading$ | async } as state"
>
  <ng-container *ngIf="!state.loading && state.news">
    <div class="row row-container">
      <div class="container h-100">
        <div class="col border border-dark box-news">
          <div
            class="row cards-container mb-2 animate__animated animate__delay-0.8s animate__fadeIn"
            *ngFor="let new of state.news"
            (click)="openNewInTab(new.link)"
          >
            <app-new-card [new]="new"></app-new-card>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!state.loading && !state.news">
    <app-box-info [text]="boxtextInfo"></app-box-info>
  </ng-container>

  <ng-container *ngIf="state.loading && (!state.news || state.news)">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
</ng-container>
