
@media (max-width: 991.98px) {
  .row-container{
    // height: calc(0.5vw + 39vh);
    // max-height: 40vh;
    height: 350px;
  }
}

@media (min-width: 992px) {

  .row-container{
    height: 500px;
  }
}

.box-news{
  overflow-x: hidden;
    height: 100%;
    padding: 8px;
}

.new-card{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d7d7d7;
  background: #e3e3e3;
  padding: 2px 5px;
  cursor: pointer;

  &:hover{
    border: 1px solid #0d81fc;
  }
}

.new-text{
  font-size: 12px;
  padding: 5px 10px;

  .title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

}
