<div class="container mt-4">
  <div class="row mb-4">
    <h1>Explorador de paises</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="myForm">
        <div class="row">
          <ng-container *ngIf="countries$ | async as countries">
            <select
              class="form-label"
              formControlName="country"
              (change)="selectOption()"
            >
              <option value="">Elige un pais...</option>
              <option
                *ngFor="let country of countries"
                class="form-control"
                [ngValue]="country"
              >
                {{ country.name.common }}
              </option>
            </select>
          </ng-container>
        </div>
      </form>
      <app-map [country]="countrySelected"></app-map>
    </div>
    <div class="col-6">
      <div class="row">
        <app-menu></app-menu>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
