<div class="container mt-4">
  <div class="row mb-4">
    <h1>Explorador de paises</h1>
  </div>
  <div class="row" *ngIf="countries$ | async as countries">
    <div class="col-6">
      <form [formGroup]="myForm">
        <div class="row">
            <select class="form-select mb-4" formControlName="country" (change)="selectOption()">
              <option value="">Selecciona un pais...</option>
              <option *ngFor="let country of countries" [ngValue]="country">
                {{ country.name.common }}
              </option>
            </select>
        </div>
      </form>
      <app-map [country]="countrySelected"></app-map>
    </div>
    <div class="col-6">
      <div class="row">
        <app-menu></app-menu>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
