
 // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .row-content-height{
    height: 100%;
  }

  .col4-mobile-height{
    height: calc(6.5vh + 97vw);
    max-height: 40vh;
  }

  .col2-mobile-height{
    height: 40px;
  }
}
