<div
  class="container-sm mt-4 h-100 animate__animated animate__delay-0.8s animate__fadeIn"
>
  <div class="row mb-3">
    <h1>Explorador de paises</h1>
  </div>
  <div class="row test" *ngIf="countries$ | async as countries">
    <div class="col-lg-6 order-1 order-lg-1">
      <form [formGroup]="myForm">
        <select
          class="form-select mb-2"
          formControlName="country"
          (change)="selectOption()"
        >
          <option value="">Selecciona un pais...</option>
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.name.common }}
          </option>
        </select>
      </form>
    </div>
    <div class="col-lg-6 order-3 order-lg-2">
      <app-menu></app-menu>
    </div>
    <div class="col-lg-6 order-2 order-lg-3 mb-2">
      <app-map [latlng]="countrySelected && countrySelected.latlng"></app-map>
    </div>
    <div class="col-lg-6 order-4 order-lg-4 test2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
