<ng-container
  *ngIf="{
    descriptionCountry: descriptionCountry$ | async,
    loading: loading$ | async
  } as state"
>
  <ng-container *ngIf="!state.loading && state.descriptionCountry">
    <div class="row pb-2 h-100">
      <div class="container">
        <div class="col p-2 border border-dark h-100">
          <div class="animate__animated animate__delay-0.8s animate__fadeIn">
            <div class="row">
              <div class="col-4">
                <h3>Bandera</h3>
                <img
                  class="img-thumbnail"
                  [src]="state.descriptionCountry.flags.png"
                  alt=""
                />
              </div>
              <div class="col-8">
                <h3>Información</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Nombre oficial: </strong>
                    <span>{{
                      state.descriptionCountry.translations["spa"].official
                    }}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Población: </strong>
                    <span>{{
                      state.descriptionCountry.population | number
                    }}</span>
                  </li>
                  <li class="list-group-item">
                    <strong>Zona horaria: </strong>
                    <span>{{ state.descriptionCountry.timezones }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row mt-4 description-country">
              <h3 class="mb-4">Información adicional</h3>
              <span class="description-country-span">
                {{ state.descriptionCountry.translations["spa"].common }} es un
                país que pertenece a la region de
                {{ state.descriptionCountry.region }} y esta ubicado en la
                subregión de {{ state.descriptionCountry.subregion }}. La
                capital de este país es {{ state.descriptionCountry.capital }}.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!state.loading && !state.descriptionCountry">
    <app-box-info [text]="boxtextInfo"></app-box-info>
  </ng-container>

  <ng-container
    *ngIf="
      state.loading && (!state.descriptionCountry || state.descriptionCountry)
    "
  >
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
</ng-container>
